cloud_id = "1234567"
folder_id = "1234567"
zone = "ru-central1-c"
source_image_id = "fd8pa3bmio9agfd3iu36"
public_key_path = "../id_rsa_yandex_access"
subnet_id = "1234567"
#service_account_key_file = "key.json"


cloud_id        = "b1g9km5jt6k903v0qovb"
folder_id       = "b1glfijn6etao0fislln"
zone            = "ru-central1-c"
source_image_id = "fd8rcdm2bipjtnq98atn"
public_key_path = "~/.ssh/otus/otus_demo_key.pub"
subnet_id       = "e9b3clbb9f2diuimkieu"
#service_account_key_file = "key.json"
backend_access_key = "550VI0dlqM89OC6QgknJ"
backend_secret_key = "mCK3h4VJ218naEMw15p8ymhJaLWtHmz2ONA5akXX"
