cloud_id        = "1234567"
folder_id       = "1234567"
zone            = "ru-central1-c"
source_image_id = "fd8rcdm2bipjtnq98atn"
public_key_path = "../id_rsa_yandex_access"
subnet_id       = "e9b3clbb9f2diuimkieu"
#service_account_key_file = "key.json"
