{
        "token": "1234567890",
        "folder_id": "b1glfijn6etao0fislln",
        "source_image_id": "fd8tg1q51rrllvtlnjod",
        "path_to_service_account": "",
        "disk_type": "network-hdd"
}
