{
        "token": "1234567890",
        "folder_id": "b1glfijn6etao0fislln",
        "source_image_family": "ubuntu-1604-lts",
        "path_to_service_account": "../key.json.example",
        "disk_type": "network-ssd"
}
